<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyConnectionString"
			 connectionString="Data Source=MAKS-NOTEBOOK\SQLEXPRESS;Initial Catalog=UsersAndAwards;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False;"
        providerName="System.Data.SqlClient" />
    <!--<add name="HomeConnectionString"
			 connectionString="" />-->
  </connectionStrings>

</configuration>